{% extends 'main/layout.html' %}

{% block title %}
Изменение каталога тем
{% endblock %}

{% block head %}
<script src="https://unpkg.com/htmx.org@1.9.12"></script>
<style>
    .hidden{
    display: none
    }
</style>
{% endblock %}


{% block content %}
{% csrf_token %}

<div class = 'adder' align="left">
    <a href = "{% url 'menu' %}"> На главную</a><br>
    <table style="width:100%">
        <tr>
            <th>
                <h2>Загрузка темы </h2>
            </th>
            <th>
                <h2>Редактирование существующей темы </h2>
            </th>
            <th>
                <h21>Удаление темы </h21>
            </th>
        </tr>
        <tr>
            <td>
            <form method="post" data-ajax="false" enctype= multipart/form-data>

            Тема: {{ form.title }}<br>
            Теория: {{ form.theory }}<br>
            Шаблон: {{ prac_form.template }}<br>
            Практика:{{ prac_form.practice }}<br>
            <br>
            {% if control %}
            {{control.management_form}}
            <h2>Вопросы для теста</h2>
            <div id = "question-form-list">
                {% for form in control %}
                <div class="question-form">
                    {{form.as_p}}
                </div>
                {% endfor %}
            </div>
            <div id = "empty-qurstion-form" class = "hidden">{{control.empty_form.as_p}}
            <div id = "option-list-form-__prefix__" class = "hidden">
                <button id = "add-option-__prefix__" class ='hidden' type = "button">Добавить вариант ответа</button>
            </div>
            </div>
            <div id = "empty-answer-form" class = "hidden">
                <p>
                <label for="id_form-__prefix__-answer">Вариант ответа:</label>
        <input type="text" name="form-__prefix__-answer" class="form-Answer" placeholder="Введите вариант ответа" maxlength="128" id="id_form-__prefix__-answer">
      </p>
        <p>
        <label for="id_form-__prefix__-picture">Изображение:</label>
        <input type="file" name="form-__prefix__-picture" class="form-Answer" id="id_form-__prefix__-picture" accept="image/*">

        </p>
      <p>
        <label for="id_form-__prefix__-is_correct">Правильный ответ:</label>
        <select name="form-__prefix__-is_correct" class="form-Answer" placeholder="Правильный ответ или нет" id="id_form-__prefix__-is_correct">
      <!--<option value="unknown">Неизвестно</option>-->

      <option value="true">Да</option>

      <option value="false" selected="">Нет</option>

        </select>


      </p>
        </div>
            {% endif %}
            <button id = "add-question" type = "button">Добавить вопрос</button>

            <br>
            <button type="submit">Создать запись</button><br>
            <span>{{ error }} </span>
      </form>

            </td>
            <td>

            </td>
        </tr>
    </table>
    </div>



<script>
    const addQuestion = document.getElementById("add-question")
    const totalNewQuestions = document.getElementById("id_form-TOTAL_FORMS")

    addQuestion.addEventListener("click", add_new_quest)



    function add_new_quest(event) {
        if (event){
            event.preventDefault()
        }

        const currentQuestionForms = document.getElementsByClassName('question-form')
        const currentQUesCount = currentQuestionForms.length

        const questionCopyTarget = document.getElementById("question-form-list")
        const copyEmptyQuestionForm = document.getElementById("empty-qurstion-form").cloneNode(true)

        copyEmptyQuestionForm.setAttribute("class", "question-form")
        copyEmptyQuestionForm.setAttribute("id", `form-${currentQUesCount}-question`)

        currentOptionList = copyEmptyQuestionForm.childNodes[6]
        currentOptionList.setAttribute("class", "option-list-form")
        currentOptionAdd = currentOptionList.childNodes[1]
        currentOptionAdd.setAttribute("class", "add-option")
        const regexQues = new RegExp('__prefix__', 'g')
        copyEmptyQuestionForm.innerHTML = copyEmptyQuestionForm.innerHTML.replace(regexQues,currentQUesCount)

        totalNewQuestions.setAttribute("value", currentQUesCount+1)

        questionCopyTarget.append(copyEmptyQuestionForm)


        var currentAnswerLists = document.getElementsByClassName('option-list-form')
        for (i=0; i<currentAnswerLists.length; i++){
            var cur_id = currentAnswerLists[i].id.substr(currentAnswerLists[i].id.length - 1);
            var addOption = document.getElementById(`add-option-${cur_id}`);
            addOption.addEventListener("click", add_new_answer);
            }


    }



    function add_new_answer(event){

       var current_id = event.currentTarget.id.substr(event.currentTarget.id.length - 1)

       const currentQuesForm = document.getElementById(`form-${current_id}-question`)
       const currentOptForms = currentQuesForm.getElementsByClassName("option-form")
       const currentOptCount = currentOptForms.length


       const optionCopyTarget = document.getElementById(`option-list-form-${current_id}`)
       const copyEmptyOptionForm = document.getElementById("empty-answer-form").cloneNode(true)
       copyEmptyOptionForm.setAttribute("class", "option-form")
       copyEmptyOptionForm.setAttribute("id", `option-form-${current_id}-${currentOptCount}`)
       const regexOpt = new RegExp('__prefix__', 'g')

       copyEmptyOptionForm.innerHTML = copyEmptyOptionForm.innerHTML.replace(regexOpt,`${current_id}-${currentOptCount}`)



        optionCopyTarget.append(copyEmptyOptionForm)
    }






</script>

{% endblock %}
