{% extends 'main/layout.html' %}

{% block title %}
Добавление темы
{% endblock %}




{% block content %}


<div class = 'features' align="left">
    <h1>Форма для создания записи </h1>
        <form method="post" data-ajax="false" enctype= multipart/form-data>
            {% csrf_token %}
            {{ form.title }}<br>
            {{ form.theory }}<br>
            {{ form.practice }}<br>
            {{ form.control }}<br>
            <button type="submit">Создать запись</button><br>
            <span>{{ error }} </span>
      </form>
</div>
{% endblock %}
