{% extends 'main/layout.html' %}


{% block title %}
Главная страница
{% endblock %}


{% block head %}
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
* {
  box-sizing: border-box;
}

/* Create three equal columns that floats next to each other */
.column {
  float: left;
  width: 33.33%;
  padding: 10px;
  height: 300px; /* Should be removed. Only for demonstration */
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
</style>
{% endblock %}

{% block content %}


<h2>Меню</h2>
 <a href="{% url 'logout' %}"><button>Выйти из системы</button></a><br>
<div class="row">
  <div class="column" style="background-color:#aaa;">
    <h2>Теория</h2>
    {% for a in titles %}
    <a href="{%url 'theory:theorylisting' a.id%}">{{a.title}}</a><br>
    {% endfor %}
  </div>

  <div class="column" style="background-color:#bbb;">
    <h2>Практика</h2>
      {% for p in pracs %}
      <a href="{%url 'practice:prac' p.practice.id%}">{{p.title}}</a><br>
      {% endfor %}
  </div>

  <div class="column" style="background-color:#ccc;">
    <h2>Контроль</h2>
      {% for c in conts %}
        <a href="{%url 'control:ctrllist' c.id%}"> {{c.title}} </a><br>
      {% endfor %}
  </div>
</div>

<table>
  <tr>
    {% if role != "user_def" %}
      <td><a href="{% url 'create' %}"><button>Изменить каталог</button></a><br></td>
    {% endif %}
    {% if role == 'admin' %}
      <td><a href="../admin"><button>Панель администратора</button></a><br></td>
    {% endif %}
    {% if role == 'admin' %}
      <td><a href="{% url 'resultlist' %}"><button>Результаты тестирования</button></a><br></td>
    {% endif %}
  </tr>
</table>





{% endblock %}
