{% extends 'main/layout.html' %}


{% block title %}
Главная страница
{% endblock %}


{% block head %}
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
* {
  box-sizing: border-box;
}

/* Create three equal columns that floats next to each other */
.column {
  float: left;
  width: 33.33%;
  padding: 10px;
  height: 300px; /* Should be removed. Only for demonstration */
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
</style>
{% endblock %}

{% block content %}


<h2>Меню</h2>
 <a href="{% url 'logout' %}"><button>Выйти из системы</button><a><br>
<div class="row">
  <div class="column" style="background-color:#aaa;">
    <h2>Теория</h2>
    {% for a in titles %}
    <a href="{%url 'theory:theory' a.id%}">{{a.title}}</a><br>
    {% endfor %}
  </div>
  <div class="column" style="background-color:#bbb;">
    <h2>Практика</h2>
    <a href = "{% url 'dot kinetic' %}"> Точечная кинетика</a><br>
    <a href = "{% url 'ksenon' %}"> Ксенон</a><br>
    <a href = "{% url 'reactor' %}"> Расчет реактора</a><br>
    <a href = "{% url 'deflector' %}"> Реактор с отражателем</a><br>
  </div>
  <div class="column" style="background-color:#ccc;">
    <h2>Контроль</h2>
    <p>Контроль для точечной кинетики</p>
  </div>
</div>

<table>
  <tr>
    {% if role != "user_def" %}
      <td><a href="{% url 'create' %}"><button>Добавить запись</button></a><br></td>
    {% endif %}
    {% if role == 'admin' %}
      <td><a href="../admin"><button>Панель администратора</button></a><br></td>
    {% endif %}
  </tr>
</table>





{% endblock %}
