{% extends 'main/practice_template.html' %}

{% block title %}
Практика
{% endblock %}



{% block input %}

<form action="" method="post">
    {% csrf_token %}
        <p>Тип операции:
        <select name="operation-type">
            <option>Настройка</option>
            <option>Расчет</option>
        </select><br>
            Тип реактора:
        <select name="reactor-type">
            <option>ВВЭР</option>
            <option>РБМК</option>
        </select><br>
        <label for="step"> Шаг: </label>
        <input type="number" id="step" name="step" placeholder = '0' step="0.1" min = "0" value="10"/>
        <label for="start_val"> Начальные значения: </label>
        <input type="text" size = 50 id="start_val" name="start_val" placeholder = 'Введите список' value="[0,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,0]" />
        </p>

        <button type="submit">Ввести входные данные</button>
      </form>


{% endblock %}


{% block content %}
<div class = 'container' align="left">
<h2 class="text-center" ><i>Расчет реактора</i></h2><br>
    <table class="table table-dark table-striped" width="20%">
        <thead>
        <tr>
            {% if d1 %}
            <th>Ряд</th>
            {% endif %}
        {% for st in k1%}
            <th>{{st}}</th>
        {% endfor %}
        </tr>
    </thead>
        <tbody>
    {% if d1 %}
    {% for i in d1 %}
    <tr>
        {% for key,value in i.items%}
            <td>{{ value}}</td>
        {% endfor %}
    </tr>
    {% endfor %}
    {% endif %}
    </tbody>
    </table>
    </div>
{% endblock %}
