{{text |safe }}

<script>
    var mainlink = document.getElementsByTagName('a')[0]
    mainlink.setAttribute("href", "../practice_results")
    mainlink.textContent="Вернуться к списку отчетов"
    var submitbutton = document.getElementsByTagName('button')[0]
    submitbutton.remove()
    var sendResultsCheckbox = document.getElementById('testing_mode')
    sendResultsCheckbox.remove()
    var sendResultsCheckboxLabel = document.querySelector('label[for=testing_mode]')
    sendResultsCheckboxLabel.remove()
</script>