{% extends 'main/layout.html' %}

{% block title %}
Контроль
{% endblock %}




{% block content %}


<div class = 'features' align="left">
    <h1>Пройдите тест </h1>
        <form method="post" data-ajax="false" enctype= multipart/form-data>
            <label for="cars">Ваш любимый цвет:</label>
            <select name="cars" id = "cars">
                <option value="value1">Красный</option>
                <option value="value2">Зеленый</option>
                <option value="value3">Желтый</option>
                <option value="value4">Синий</option>
                </select> <br>
            <label for="nums">Сколько будет 2+2</label>
            <select name="nums" id = "nums">
                <option value="value1">3</option>
                <option value="value2">8</option>
                <option value="value3">4</option>
                <option value="value4">16</option>
                </select><br>
            <button type="submit">Отправить результаты</button><br>
            <span>{{ error }} </span>
      </form>
</div>
{% endblock %}
