{% extends 'main/practice_template.html' %}

{% block title %}
Практика
{% endblock %}



{% block input %}

<form action="" method="post">
    {% csrf_token %}
        <p>Тип реактора:
        <select name="reactor-type">
            <option>РБМК</option>
            <option>ВВЭР</option>
        </select><br>
            <label for="step"> Количество от: </label>
        <input type="number" id="step" name="step" placeholder = '0' step="1" min = "0" value="40"/>
        </p>
        <button type="submit">Ввести входные данные</button>
      </form>


{% endblock %}


{% block content %}
<div class="row">
  <div class="column">
<h3 class="text-center" ><i>Физические параметры реактора:</i></h3><br>
    <table class="table table-dark table-striped" width="20%">
        <tbody>
    {% if startdata %}
    <tr>
        {% for k in startheaders %}
            <td>{{ k }}</td>
        {% endfor %}
    </tr>
    <tr>
        {% for i in startdata %}
            <td>{{ i }}</td>
        {% endfor %}
    </tr>
    {% endif %}
    </tbody>
    </table>
    </div>
  <div class="column" style="background-color:#aaa;">
      <h3 class="text-center" ><i>Результат:</i></h3><br>
    <table class="table table-dark table-striped" width="20%">
        <tbody>
    {% if resdata %}
    <tr>
        <td>Альфа</td>
        <td>С1</td>
        <td>K inf</td>
        <td>K inf 0</td>
    </tr>
    <tr>
        {% for z in resdata %}
            <td>{{ z }}</td>
        {% endfor %}
    </tr>
    {% endif %}
    </tbody>
    </table>
  </div>
</div>

<div class = 'container' align="left">
    <h2 class="text-center" ><i> Расчет графического решения</i></h2><br>
    <table class="table table-dark table-striped" width="20%">
    <thead>
        <tr>
            {% if d1 %}
            <th>Ряд</th>
            {% endif %}
        {% for st in k1%}
            <th>{{st}}</th>
        {% endfor %}
        </tr>
    </thead>
        <tbody>
    {% if d1 %}
    {% for i in d1 %}
    <tr>
        {% for key,value in i.items%}
            <td>{{ value}}</td>
        {% endfor %}
    </tr>
    {% endfor %}
    {% endif %}
    </tbody>
        </table>
    {% if d1 %}
    <div style="width:1000;height:100">
    {{ graph1|safe }}
    </div>
    {% endif %}
    </div>
<div class = 'container' align="left">
    <h2 class="text-center" ><i> Плотность потока нейтронов</i></h2><br>
    <table class="table table-dark table-striped" width="20%">
    <thead>
        <tr>
            {% if d2 %}
            <th> </th>
            <th>Шаг</th>
            <th>Поток</th>
            {% endif %}
        </tr>
    </thead>
    <tbody>
    {% if d2 %}
    {% for i in d2 %}
    <tr>
        {% for key,value in i.items%}
            <td>{{ value}}</td>
        {% endfor %}
    </tr>
    {% endfor %}
    {% endif %}
    </tbody>
        </table>
    {% if d2 %}
    <div style="width:1000;height:100">
    {{ graph2|safe }}
    </div>
    {% endif %}
    </div>
{% endblock %}
